@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading {
    background-color: orange;
    display: inline-block;
    width: 100%;
    margin: 0;  /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    color: white;
    height: 5em;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    position: sticky;
    top: 0;
}


#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: Orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: black;
  }
  

#startButton:hover {
    background-color: #0056b3;
}
  

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.5px
}

html {
    width: 300px;
}

body {
    display: flex; /* Establishes a flex container */
    justify-content: center; /* Centers flex items on the main axis (horizontal) */
    align-items: center; /* Centers flex items on the cross axis (vertical) */
    flex-direction: column; /* Aligns the flex container's children in a column */
    text-align: center; /* Ensures that the text within the button is centered, if needed */
}

.mini-box {
  width: 20px; /* Set the width of each mini box */
  height: 20px; /* Set the height of each mini box */
  /*background-color: rgb(235, 235, 235); Default background color */
  text-align: center;
  line-height: 30px;
  margin: 5px; /* Add spacing between mini boxes */
  font-weight: bold;
  border: 1px solid #dadada;
  display: inline-flex;
  vertical-align: middle;
}
  
.page{
    padding: 10px 10px 10px 20px;
}
  
h4{
    display:inline-block;
}
  
  
  