@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading {
    background-color: orange;
    display: inline-block;
    width: 100%;
    margin: 0;  /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    color: white;
    height: 5em;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    z-index: 1 /*fixes header to the top of the page at all times*/
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.5px
}

body {
    margin: 0; /* Remove default margin on the body */
    padding: 0; /* Remove default padding on the body */
  }

  .mini-box {
    width: 20px; /* Set the width of each mini box */
    height: 20px; /* Set the height of each mini box */
    background-color: rgb(235, 235, 235); /* Default background color */
    text-align: center;
    line-height: 30px;
    margin: 5px; /* Add spacing between mini boxes */
    font-weight: bold;
    border: 1px solid #dadada;
    display: inline-block
  }
  
  .rated-5 { background-color: green; color: white; } /* Customize the style for rating 5 */
  .rated-4 { background-color: lime; } /* Customize the style for rating 4 */
  .rated-3 { background-color: yellow; } /* Customize the style for rating 3 */
  .rated-2 { background-color: orange; color: white; } /* Customize the style for rating 2 */
  .rated-1 { background-color: red; color: white; } /* Customize the style for rating 1 */
  
  
  
  
  
  
  